body{
    background-image: url("../images/foot-background.jpg");
    background-color: rgb(5,16,36);
    background-repeat: no-repeat;
}

.corp{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 1%;
    padding-top: 50px;
    border: 1px solid orange;
}

.tableDisplay{
    width: 70%;
}

.tableDate{
    width: 100%;
    padding-bottom: 30px;
    margin-left: 35px;
}

.date{
    text-align: center;
}

#date{
    font-size: 18pt;
    border-radius: 1em;
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
    border: 2px solid orange;
    color: rgb(29, 81, 150);
}

#calendrierMatch{
    margin-bottom: 50px;
    width: 100%;
    border-spacing: 0;
}

.fixtureRow td{
    border-bottom: 1px solid lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

tr img{
    width: 100%;
}