body{
    background-image: url("../images/foot-background.jpg");
    background-color: rgb(5,16,36);
    background-repeat: no-repeat;
}

.corp{
    background-color: white;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 1%;
    padding-top: 50px;
    border: 1px solid orange;
}


nav.menu-competition{
    width: 100%;
    text-align: center;
    padding: 1px;
    margin-top: -20px;
    border-bottom: 1px solid orange;
    
    /* background-color: red; */
}

.optionCompetition {
    display: inline-block;
    font-size: 18pt;
    margin-right: 5%;
    margin-left: 5%;
}

.optionCompetition a {
    color: black;
    text-decoration: none;
}

.optionCompetition a:hover {
    color: orange;
}


.display{
    margin: 0 auto;
    margin-top: 3%;
    width: 70%;
}

.journees{
    display: block;
    margin: 0 auto;
    padding: 2%;
    padding-right: 5%;
    padding-left: 8%;
    border-radius: 1em;
    border: 2px solid orange;
    font-size: 18pt;
    color: rgb(29, 81, 150);
}

#calendrierMatch{
    margin-bottom: 5%;
    margin-top: 5%;
    width: 100%;
    border-spacing: 0;
}

.fixtureRow td{
    border-bottom: 1px solid lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

tr img{
    width: 100%;
}