header{
    background-color: rgb(22, 76, 146);
    margin: -8px;
    text-align: center;
    width: 100%;
    top: 0;
    position: fixed;
    display: block;
}

.logo_div{
    display:inline-block;
    vertical-align:middle;
}

img.logo{
    width: 120px;
    height: auto;
}

div.title{
    display:inline-block;
    font-size: 20pt;
    color: white;
}

nav.menu-header{
    background-color:  rgb(22, 76, 146);
    text-align: right;
    border-bottom: solid 2px white;
    border-top: solid 1px white;
    padding: 1px;
    margin: -8px;
    text-align: center;
}


.optionHeader {
    display: inline-block;
    margin-right: 3em;
    font-size: 18pt;
}

.optionHeader a {
    color: white;
    text-decoration: none;
}

.optionHeader a:hover {
    color: orange;
}
