@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
.sidebar-position{
    margin-top: 9%;
    display:inline-block;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background:rgb(3, 21, 44);
}

::-webkit-scrollbar-thumb {
  background:rgb(7, 49, 104);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgb(3, 21, 44);
}

::-webkit-scrollbar-corner {
  background:   rgb(3, 21, 44);
}

.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background:  rgb(29, 81, 150);
  transition: all .5s ease;
  overflow-y: scroll;
  height: 81%;
  scrollbar-color:red;
}
.sidebar a{
  display: block;
  height: 50px;
  color: white;
  line-height: 50px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  transition: all .5s ease;
  text-decoration: none;
}

.sidebar a:hover{
  background-color: rgb(233, 233, 233);
}

#check{
  display: none;
}
label #btn,label #cancel{
  position: fixed;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  margin: 15px 30px;
  font-size: 29px;
  background: rgb(22, 76, 146);
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

.accordion {
  background-color:rgb(44, 89, 148);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-bottom: 1px solid white;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(85, 110, 143);
}

.accordion:after {
  content: '>';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}